<%= form_with model: @comment, class: "border-dark rounded bg-light shadow p-4 my-3", url: user_post_comments_path(post_id: post.id), scope: :comment do |form| %>
  <b>Add a comment:</b>
  <div class="form-floating my-2">
    <%= form.text_area :text, class: "form-control", placeholder:"Leave a comment here", id:"comment" %>
    <label for="comment">Comment</label>
  </div>
  <div class="text-end">
    <%= form.submit "Add comment", class: "btn btn-sm btn-outline-dark" %>
  </div>
<% end %>