<div class="bg-light p-3 rounded-bottom">
  <% post.last_5_comments.each do |comment| %>
    <div class="border-dark rounded bg-light shadow p-4 my-3">
      <p><b><%= comment.user.name %>:</b> <%= comment.text %></p>
    </div>
  <% end %>
</div>