<article class="border-dark rounded-top bg-light shadow p-4 mt-3">
  <a class="fs-5 fw-bold text-dark text-decoration-none" role="button" href="<%= user_post_path(@user, post) =%>"><%= post.title =%></a>
  <p><%= post.text =%></p>
  <div class="d-flex justify-content-end">
    <%= render partial: 'shared/likes', locals: {user: @user, post: post } =%>
  </div>
</article>