<div class='container'>
<div class='row float-end mb-5'>
<% if user_signed_in?  %>
  <%= link_to "Edit profile", edit_user_registration_path  %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
<% end %>
</div>
</div>
